<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Phone-Verification-with-Nodejs-and-msg91</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap-4/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/fa/css/font-awesome.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <div class="container">
    <h1 class="h2 customStyle iconerror"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Mobile Verification Failed. Wrong OTP.</h1>
    <h4>
      <a href="/">Go Home</a>
    </h4>
  </div>


  <!-- //_______________________________________________//
     //***********************************************//
     //  All Footer Contents
     //_______________________________________________//
     //***********************************************// -->
  <script src="/javascripts/jquery/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/jv/jv.min.js"></script>
  <script src="/javascripts/jv/lettersonly.js"></script>
  <script src="/javascripts/jv/nowhitespace.js"></script>
  <script src="/javascripts/jquery/popper.js"></script>
  <script src="/stylesheets/bootstrap-4/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/main.js"></script>
  </body>
  </html>
